footer



		
//- Scripts principales
script(src="../src/js/script.js")
//- Librerias JS
script(src="../src/js/scrollspy.js")
script(src="../src/js/smooth-scroll.js")
script(src="../src/js/slider.js")
script(src="../src/js/lightbox.js")
script(src="https://kit.fontawesome.com/0838120559.js" crossorigin="anonymous")
//- Scripts personales
script(src="../src/js/scripts_min.js")