doctype html
html(lang="es-MX")

	//- Head
	include componentes/head

	//- Body
	body

		//- Header
		include componentes/header

		//- Nav
		include componentes/nav

		//- Contenido
		include componentes/ejemplo

		//- Footer
		footer




		//- Script de SW
		script(src="./src/js/script.js")
		
		//- Librerias JS
		//---Scrollspy (Incluido en inicializa en scripts.js)
		script(src="./src/js/scrollspy.js")
		//---Smooth Scroll (Incluido en inicializa en scripts.js)
		script(src="./src/js/smooth-scroll.js")
		//---Acordeon (CSS incluido en librerias)
		script(src="./src/js/nst.min.js")
		//---Slider (CSS incluido en tema/_slider)
		script(src="./src/js/slider.js")
		//---G-Lightbox (CSS incluido en librerias)
		script(src="./src/js/glightbox.min.js")
		script(src="./src/js/glightbox.custom.js")
		//---Gide (CSS incluido en librerias)
		script(src="./src/js/glide.min.js")
		script(src="./src/js/glide.custom.js")
		//---FontAwesome
		script(src="https://kit.fontawesome.com/0838120559.js" crossorigin="anonymous")
		
		//- Scripts personales
		script(src="./src/js/scripts_min.js")