main(role="main", id="top")
	.container
		.item
			h2.abcenter arteDigitalMX | Framework
		.item.web-1-3
			a(href="https://arte-digital.mx" target="_self")
				img(src="img/logo.webp", alt="arteDigitalMX")
		.item.web-2-3
			p Este <i>framework</i> es un conjunto de estilos,  <i>scripts</i>, tipografías,  <i>icon-fonts</i>, entre otras librerías  de libre distribución. Desarrollado por <a href="https://arte-digital.mx" target="_blank" rel="noopener">arteDigitalMX</a> este entorno de trabajo es implementado para la maquetación, diseño y desarrollo de sitios web.
			p Puede utilizarse para el desarrollo desde cero o bien, para la creación de plantillas HTML5 completamente  <i>responsive</i> para sistemas de gestión de contenido como  <i>WordPress</i>,  <i>Drupal</i>,  <i>Joomla</i>, entre otros.
			p A continuación mostramos la forma en que se visualizan y se utilizan algunos elementos.

nav#stickyElement
	.container.justify
		#Logo
			a(href="#")
				img(src="img/logoH.webp", alt="arteDigitalMX")
		#menuResponsive.nst-component.nst-is-collapsed.nst-manual-init
			#toggle-menu
				.menu.nst-toggle
					span.menu-item
					span.menu-item
					span.menu-item
			#multi-menu.nst-content.nst-is-collapsed.to-web
				ul.mMenu
					li: a(href="#top") Presentación
					li: a(href="#Grid") Grid
					li: a(href="#Textos") Textos
					li: a(href="#Codigos") Códigos
					li: a(href="#Acordeon") Acordeón
					li: a(href="#iconFont") iconFont
					li: a(href="#Slider") Slider
					li: a(href="#lightbox") Lightbox
			#multi-menu2.from-web
				ul.mMenu
					li: a(href="#top") Presentación
					li: a(href="#Grid") Grid
					li: a(href="#Textos") Textos
					li: a(href="#Codigos") Códigos
					li: a(href="#Acordeon") Acordeón
					li: a(href="#iconFont") iconFont
					li: a(href="#Slider") Slider
					li: a(href="#lightbox") Lightbox

section#Grid
	.container
		.item
			hr
section
	.container
		.item.tablet-50
			h3.azul Grid | Sistema de rejilla
			p El Grid es un sistema de filas y columnas que se utiliza para poder tener un mejor control de los contenedores “DIV”, tanto en su posición como en su tamaño. Como en casi todos los grids, utilizamos un contenedor para cada fila y este a su vez contendrá los ítems para generar las columnas que necesitemos.
			p El contenedor principal es un DIV con la clase “container” el cual tiene un ancho máximo definido de 1200px, aunque este valor puede modificarse también puede añadirse la clase “full” para crear un contenedor que tenga el ancho total del viewport.
		.item.tablet-50
			p Dentro de los contenedores están otros DIV con la clase “ítem”, estos serán los necesarios para crear las columnas que necesitemos y para definir su tamaño debemos añadir 2 parámetros más en una clase; el primero es el breakpoint (base, movil, tablet, web, hd) seguido del tamaño en fracción o en porcentaje.
			p Si definimos el tamaño en porcentaje debemos colocar la clase "breackpoint-%"" es decir, para indicar un 50% desde el breakpoin movil seria la clase “movil-50” y en caso de utilizar fracciones como ejemplo de un tercio en sería la clase "tablet-1-3".
			p Las fracciones pueden ser creadas, editadas y eliminadas.

	section.Estilos
		p
			< section >
		.container.full
			p
				| DIV class="container full"
		.container
			p
				| DIV class="container"

		.container
			.item
				p
					| DIV class="item"
		.container
			- for (var x = 0; x < 2; x++)
				.item.base-50
					p 50%
		.container
			- for (var x = 0; x < 3; x++)
				.item.base-1-3
					p 1-3
		.container
			- for (var x = 0; x < 4; x++)
				.item.base-25
					p 25%
		.container
			- for (var x = 0; x < 5; x++)
				.item.base-20
					p 20%
		.container
			- for (var x = 0; x < 6; x++)
				.item.base-1-6
					p 1-6

	.container
		.item
			p Los tamaños pueden ser combinados según la necesidad del layout, tanto en "containers" con tamaño máximo definido como en los que tienen la clase "full".

	section.Estilos
		.container.full
			.item.base-20
				p 20%
			.item.base-30
				p 30%
			.item.base-50
				p 50%
		.container.full
			.item.base-3-12
				p 3-12
			.item.base-4-12
				p 4-12
			.item.base-5-12
				p 5-12
		br
		.container
			.item.base-50
				p 50%
			.item.base-30
				p 30%
			.item.base-20
				p 20%
		.container
			.item.base-2-8
				p 2-8
			.item.base-4-8
				p 4-8
			.item.base-2-8
				p 2-8

section#Textos
	.container
		.item
			hr
section
	.container
		.item
			h1 Este es un encabezado H1
			h2 Este es un encabezado H2
			h3 Este es un encabezado H3
			h4 Este es un encabezado H4
			h5 Este es un encabezado H5
			h6 Este es un encabezado H6
	.container
		.item.tablet-50
			p Esto es un parrafo de una sola linea
			p Y este es multilinea... Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium at ipsum vero cupiditate quaerat optio vel illum ratione maxime accusamus, dolorem incidunt facilis cum consequuntur eveniet, delectus odit voluptas fuga!
			p.text-left Texto alineado a la iszquierda con la clase "text-left"
			p.text-right Texto alineado a la derecha con la clase "text-right"
			p.text-center Texto alineado al centro con la clase "text-center"
			p.text-justify Este parrafo sera justificado al agregar la clase "text-justify" a la etiqueta "p"
			blockquote
				p Utilizando blockquote
		.item.tablet-50
			p
				mark Utilizando la etiqueta MARK
			p
				del Utilizando la etiqueta DEL
			p
				s Utilizando la etiqueta S
			p
				ins Utilizando la etiqueta INS
			p
				u Utilizando la etiqueta U
			p
				small Utilizando la etiqueta SMALL
			p
				strong Utilizando la etiqueta STRONG
			p
				em Utilizando la etiqueta EM
			p Utilizando la etiqueta
				abbr(title="Abreviación") ABBR
		.item.tablet-50
			ul
				li Elemento de lista 1
				li Elemento de lista 2
				li Elemento de lista 3
				li Elemento de lista 4
				li Elemento de lista 5
		.item.tablet-50
			ol
				li Elemento de lista 1
				li Elemento de lista 2
				li Elemento de lista 3
				li Elemento de lista 4
				li Elemento de lista 5

section#Codigos
	.container
		.item
			hr
section
	.container
		.item
			h3.azul Codigos
		.item.tablet-50
			p Utilizando la etiqueta CODE 
				code &lt;section&gt;
			p Utilizando la etiqueta PRE 
				pre &lt;p&gt;Sample text here...&lt;/p&gt;
			p Utilizando la etiqueta VAR 
				var x
			p Utilizando la etiqueta SAMP 
				samp Utilizando la etiqueta SAMP
		.item.tablet-50
			table
				caption Título de la tabla
				tr
					th uno
					th dos
					th tres
					th cuatro
					th cinco
				- for (var x = 0; x < 5; x++)
					tr
						td 1
						td 2
						td 3
						td 4
						td 5


section#Acordeon
	.container
		.item
			hr
section
	.container
		.item
			h3.azul Acordeón
			p Éste es un simple script que permite mostrar contenido con efecto de acordeón.
		.item.tablet-50
			pre 
				| .nst-component
				<br>
				| &nbsp;&nbsp;&nbsp; button(class="nst-toggle") Botón
				<br>
				| &nbsp;&nbsp;&nbsp; .nst-content(style="background-color:#fff; padding:16px;")
				<br>
				| &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; h4 Contenido visible por default
		.item.tablet-50
			.nst-component
				button(class="nst-toggle") Botón
				.nst-content(style="background-color:#fff; padding:16px;")
					h4 Contenido visible por default
		.item.tablet-50
			pre 
				| .nst-component.nst-is-collapsed
				<br>
				| &nbsp;&nbsp;&nbsp; button(class="nst-toggle") Botón
				<br>
				| &nbsp;&nbsp;&nbsp; .nst-content(style="background-color:#fff; padding:16px;")
				<br>
				| &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; h4 Contenido visible por default
		.item.tablet-50
			.nst-component.nst-is-collapsed
				button(class="nst-toggle") Botón
				.nst-content(style="background-color:#fff; padding:16px;")
					h4 Contenido no visible por default


section#iconFont
	.container
		.item
			hr
section
	.container
		.item
			h3.azul Íconos de FontAwesome
		.item
			p La colección completa de font-icons esta en el sitio oficial de 
				a(href="https://fortawesome.github.io/Font-Awesome/icons/", target="_blank") Font Awesome
			h1
				i.espacio.fab.fa-facebook
				i.espacio.fab.fa-twitter
				i.espacio.fab.fa-google-plus
				i.espacio.fab.fa-youtube
				i.espacio.fab.fa-whatsapp
				i.espacio.fab.fa-vimeo
				i.espacio.fab.fa-twitch
				i.espacio.fab.fa-tumblr
				i.espacio.fab.fa-steam
				i.espacio.fab.fa-spotify
				i.espacio.fab.fa-skype
				i.espacio.fab.fa-safari
				i.espacio.fas.fa-code
				i.espacio.fab.fa-reddit
				i.espacio.fab.fa-pinterest
				i.espacio.fab.fa-paypal
				i.espacio.fab.fa-opera
				i.espacio.fab.fa-linux
				i.espacio.fab.fa-linkedin
				i.espacio.fab.fa-joomla
				i.espacio.fab.fa-edge
				i.espacio.fab.fa-html5
				i.espacio.fab.fa-css3

			p Para su implemetación debe darse la clase "fa" seguida de una segunda clase "fa-ICONO" donde "ICONO" es sustituido por el icon-font deseado, ejemplo del icono de Twitter:
				pre
					| &lt;i class="fab fa-twitter"&gt; 
					| ó &lt;i class="fas fa-code"&gt;

section#Slider
	.container
		.item
			hr
section
	.container
		.item
			h3.azul Sliders
	.container
		.item
			.carousel(data-flickity='{ "autoPlay": true, "wrapAround": true }')
				.carousel-cell.abcenter
					h1 Carrusel 1
					p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam numquam mollitia ipsam tempore, exercitationem, saepe rerum nobis deserunt reprehenderit illum aspernatur deleniti culpa, dolorem magni. Voluptatibus labore aliquid assumenda dolorum!
					img(src="img/bg.webp", alt="Background arteDigitalMX")
				.carousel-cell.abcenter
					h1 Carrusel 2
					p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam numquam mollitia ipsam tempore, exercitationem, saepe rerum nobis deserunt reprehenderit illum aspernatur deleniti culpa, dolorem magni. Voluptatibus labore aliquid assumenda dolorum!
					img(src="img/bg.webp", alt="Background arteDigitalMX")
				.carousel-cell.abcenter
					h1 Carrusel 3
					p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam numquam mollitia ipsam tempore, exercitationem, saepe rerum nobis deserunt reprehenderit illum aspernatur deleniti culpa, dolorem magni. Voluptatibus labore aliquid assumenda dolorum!
					img(src="img/bg.webp", alt="Background arteDigitalMX")
	.container-full
		.carousel(data-flickity='{ "autoPlay": true, "wrapAround": true }')
			.carousel-cell.slider.abcenter
				.item.base-50
					h1 Slider 1
					p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam numquam mollitia ipsam tempore, exercitationem, saepe rerum nobis deserunt reprehenderit illum aspernatur deleniti culpa, dolorem magni. Voluptatibus labore aliquid assumenda dolorum!
			.carousel-cell.slider.abcenter
				.item.base-50
					h1 Slider 2
					p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam numquam mollitia ipsam tempore, exercitationem, saepe rerum nobis deserunt reprehenderit illum aspernatur deleniti culpa, dolorem magni. Voluptatibus labore aliquid assumenda dolorum!



section#lightbox
	.container
		.item
			hr
section
	.container
		.item
			h3.azul Lightbox
	.container
		.item
			p Ejemplo imagenes modales
		.item.tablet-1-3
			pre a(data-fslightbox="gallery2" href="img/bg.jpg") <br> img(src="img/bg.jpg")
		.item.tablet-1-3
			pre a(data-video-poster="https://fslightbox.com/img/bbunny.png" data-fslightbox="html5-demo-videos" href="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4") <br> img(class="img" src="https://fslightbox.com/img/bbunny.png" alt="Big Black Bunny Fullscreen Lightbox")
		.item.tablet-1-3
			pre a(data-fslightbox="html5-youtube-videos" href="https://www.youtube.com/watch?v=xshEZzpS4CQ") <br> img(class="img" src="https://fslightbox.com/img/force.jpg" alt="Force - Fullscreen Lightbox")
		.item.tablet-1-3
			a(data-fslightbox="gallery2" href="img/bg.jpg")
				img(src="img/bgFullHD_min.webp" alt="admx")
		.item.tablet-1-3
			a(data-video-poster="img/bgFullHD.webp" data-fslightbox="html5-demo-videos" href="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4")
				img(class="img" src="img/bgFullHD_min.webp" alt="Big Black Bunny Fullscreen Lightbox")
		.item.tablet-1-3
			a(data-fslightbox="html5-youtube-videos" href="https://www.youtube.com/watch?v=xshEZzpS4CQ")
				img(class="img" src="img/bgFullHD_min.webp" alt="Force - Fullscreen Lightbox")

	.container
		.item
			h4 Se recomienda eliminar las librerías o funciones que no se utilicen, para mejorar el rendimiento.

		-for (var i = 0; i <= 10; i++)
			br