head
	title arteDigitalMX | Framework
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=5.5, minimum-scale=1.0")
	link(href="favicon.png", rel="shortcut icon", type="image/png")
	link(rel="author", type="text/plain", href="humans.txt")
	link(rel="sitemap", type="application/xml", title="Sitemap", href="sitemap.xml")
	meta(name="robots" content="index,follow")

	meta(name="description" content="arteDigitalMX | Framework para desarrollo web")

	meta(property="og:locale" content="es_MX" )
	meta(property="og:type" content="website" )
	meta(property="og:title" content="arteDigitalMX | Framework" )
	meta(property="og:description" content="arteDigitalMX | Framework para desarrollo web" )
	meta(property="og:url" content="https://arte-digital.mx" )
	meta(property="og:site_name" content="arteDigitalMX" )
	meta(property="og:image" content="img/logo.png" )
	meta(name="twitter:card" content="summary")
	meta(name="twitter:description" content="arteDigitalMX | Framework para desarrollo web")
	meta(name="twitter:title" content="arteDigitalMX | Framework")
	meta(name="twitter:site" content="@arteDigitalMX")
	meta(name="twitter:creator" content="@deuDrac")