button {
    background-color: $colorPrincipal;
    border: none;
    border-radius: 0 4px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    padding: 8px 16px;
    margin: 4px;
    transition: all .3s;
    &:hover {
        background-color: $colorSecundario;
    }
}